flask
flask-sqlalchemy
flask-migrate
flask-cors
psycopg2-binary
python-dotenv
PyMuPDF
python-docx
python-pptx
openpyxl
beautifulsoup4
werkzeug
tiktoken
langchain-text-splitters
sentence-transformers
qdrant-client
striprtf
ebooklib